{:paths ["script" "src"]
 :deps {}
 :tasks {:requires ([babashka.fs :as fs]
                    [api]
                    [generate]
                    [runner])
         -input-dir "input"
         -input {:depends [-input-dir]
                 :task (fs/create-dirs -input-dir)}
         -auth-file "auth.edn"
         -solution-template-file "script/solution_template.clj"
         get {:doc "Fetches a specific input (defaults to today)"
              :depends [-auth-file -input]
              :task (api/download-input-task -auth-file -input *command-line-args*)}
         new {:doc "Creates a skeleton solution for a specific day"
              :depends [-solution-template-file]
              :task (generate/generate-solution-task -solution-template-file *command-line-args*)}
         run {:doc "Executes the solution against the input"
              :depends [-auth-file -input]
              :task (runner/run-solution-task -auth-file -input *command-line-args*)}
         test {:doc "Tests the solution agaist a sample"
               :task (runner/run-tests-task *command-line-args*)}
         auth {:doc "Set the auth for the Advent of Code API"
               :depends [-auth-file]
               :task (api/store-auth-task -auth-file *command-line-args*)}}}