{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:aoc {:ns-default aoc
                 :extra-paths ["script" "src"]
                 :extra-deps {babashka/fs {:mvn/version "0.1.11"}
                              org.clojure/tools.cli {:mvn/version "1.0.206"}
                              http-kit/http-kit {:mvn/version "2.6.0"}}}}}
